* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: orangered;
}

.back-face {
    height: 200px;
    width: 140px;
}

.front-face {
    height: 200px;
    width: 140px;
}